.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

#login-form-area {
  padding-top:30px;
}

#login-box {
  padding-top: 100px;
}
