<h4 class="text-center">Administration</h4>
<hr class="bottom-line">

<div class="list-group">
  <a routerLinkActive="link-active" routerLink="/administration/events" class="list-group-item l-hover">Events</a>
  <a routerLinkActive="link-active" routerLink="/administration/companies" class="list-group-item l-hover">Companies</a>
  <a routerLinkActive="link-active" routerLink="/administration/users" class="list-group-item">Users</a>
  <a routerLinkActive="link-active" routerLink="/administration/tasks" class="list-group-item">Tasks</a>
</div>

<a
  class="btn btn-default"
  routerLink="/administration/tasks/new"
  style="width: 100%;">
  Create new tasks
</a>

<br />
<br />

<img
  id="eestec-logo"
  class="img-thumbnail center-block"
  src="assets/images/eestec-lc-zagreb-logo.png"
  alt="Loading eestec logo...">
